.box{
    height: min(18vw, 18vh);
    width: min(18vw, 18vh);
    border: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: min(10vw, 10vh);
    cursor: pointer;
}

.game_contener{
    position: absolute;
    left: 25%; 
    height: min(60vw, 60vh);
    width: min(60vw, 60vh);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}